* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0F1B4C;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    text-align: center;
    background: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    color: #FFFFFF;
    padding: 18px 16px;
}

.btn:hover {
    opacity: 0.9;
}

/* Header */
.header {
    min-height: 95vh;
    background-color: #E6F0FF;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    align-items: center;
    padding-left: 56px;
    gap: 12px;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4F5361;
    padding: 6px 8px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .actions {
    margin-left: auto;
}

.action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-right: 18px;
}

.action-btn {
    padding: 13px 16px;
    border-radius: 8px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 50%;
}

.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    font-weight: 700;
    font-size: 6.3rem;
    line-height: 1.19;
    color: #000336;
}

.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5A6473;
}

.hero .hero-cta {
    margin-top: 40px;
    min-width: 170px;
}

.hero .hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* Client */

.client {
    margin-top: 122px;
}

.client .row {
    display: flex;
    justify-content: space-between;
}

.client .row-desc {
    margin-top: 23px;
}

.client .desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #7D8589;
}

.client .images {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Guides */

.guides {
    margin-top: 160px;
}

.guides .sub-title {
    font-weight: 600;
    font-size: 35px;
    line-height: 1;
    text-align: center;
    color: #000339;
    position: relative;
}

.guides .sub-title::before {
    content: "";
    position: absolute;
    width: 41px;
    height: 4px;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #000339;
    border-radius: 12px;
}

.guides .desc {
    margin: 0 auto;
    margin-top: 20px;
    width: 459px;
    max-width: 100%;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5A6473;
}

.guides .list-guides {
    width: 685px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guides .guide-item {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.guides .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    color: #3B3C45;
}

.guides .link {
    margin-top: 9px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #0689FF;
}

.guides .cta-guides{
    text-align: center;
    margin-top: 48px;
    min-width: 170px;
}